body {
    background-color: #1A73E8 !important;
    background-color: #1A73E8 !important;
    font-family: "Google Sans", sans-serif;
    line-height: 1.4;
}

h1,
h2 {
    font-weight: 700 !important;
    letter-spacing: -0.005em;
    text-align: center;
    padding: 36px;
}

.nav-top {
    background-color: #F5F5F7;
    height: 5px;
    border: none !important;
}

.navbar {
    background-color: #F5F5F7;
    border-bottom: 3px solid #1A73E8;
    box-shadow: 0 0 5px #adadad;
    /* border-bottom: 2px solid #1A73E8; */
}

/* .navbar {
    background-color: #F5F5F7;
    box-shadow: 0 0 5px #adadad;
    margin: 0 !important;
    padding: 15px 30px !important;
    border-radius: 0 0 12px 12px;
    z-index: 1;
    border: 2px solid #F5F5F7;
    border-top: none;
} */

/* .navbar-toggler {
    padding: 0;
    border: 0;
}

.nav-link,
.navbar-brand {
    color: #000000 !important;
    font-size: 18px !important;
} */

.title h1 {
    font-size: 65px !important;
    letter-spacing: -0.025em;
    /* line-height: 1px; */
    margin-bottom: 40px;
    padding: 0;
    color: #000000 !important;
}

#hero {
    background-color: #F5F5F7;
    /* background-color: #F5F5F7; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -75px;
    padding-top: 75px;
    color: #000;
}

#hero .hero-img {
    width: 100%;
}

@media (max-width: 1200px) {
    #hero .hero-img {
        display: none;
    }
}

.card-container {
    background-color: #FFF !important;
    position: relative;
    border-radius: 24px;
    color: #000;
    padding: 30px;
    box-shadow: 0 0 5px #adadad;
}

@media (min-width: 992px) {
    .card-container {
        padding: 60px;
    }
}

/* Add some content at the bottom of the video/page */
.content {
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.parallax-item {
    background: url("../img/bg-company.jpg");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* bg card effect */
.bg-blue {
    padding: 30px 0;
    background-color: #2e2e2e;
    background-clip: border-box;
    background-color: rgb(83, 172, 255);
}

.bg-main {
    background-color: #323d5a;
}

.bg-second {
    background-color: #fabf2c;
}

.bg-third {
    background-image: url("https://member.digitalscommunity.co.id/assets/digicom/images/bg-themes/1.png");
    background-size: cover;
    background-attachment: fixed;
    padding: 30px 0;
}

.bg-dark-blue {
    padding: 30px 0;
    background-color: #2e2e2e;
    background-clip: border-box;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Drop Shadow */
.flat-card {
    padding: 30px;
    background-color: #2e2e2e;
    border-radius: 12px;
    /* border: 2px solid #F5F5F7; */
}

/* Accordion */
.accordion button {
    font-weight: 700;
}

.accordion-body {
    border-top: 2px solid #F5F5F7;
    /* color: #2e2e2e; */
}

.accordion-item {
    border: 2px solid #F5F5F7;
}

.accordion-item:first-of-type {
    border-top-left-radius: 0.7em !important;
    border-top-right-radius: 0.7em !important;
}

.accordion-item:last-of-type {
    border-bottom-left-radius: 0.7em !important;
    border-bottom-right-radius: 0.7em !important;
}

.accordion-item:first-of-type .accordion-button:not(.collapsed) {
    border-top-left-radius: 0.6em !important;
    border-top-right-radius: 0.6em !important;
    color: #F5F5F7;
    background-color: #fabf2c;
}

.accordion-item .accordion-button:not(.collapsed) {
    color: #F5F5F7;
    background-color: #fabf2c;
}

.accordion-button.collapsed {
    background-color: transparent;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2kon/svg' viewBox='0 0 16 16' fill='%23kon'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

section::before,
section::after {
    display: block;
    content: " ";
    height: 100px;
    visibility: hidden;
    pointer-events: none;
}



/* Company */
/*==================================
    Company
==================================*/
#company .container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 12px;
    padding: 15px 30px 5px 30px;
}

/* Expertise */
/*==================================
    Expertise
==================================*/
#expertise {
    /* background-color: #100e17; */
    overflow: hidden;
    position: relative;
}

.container h2 {
    text-align: center;
    padding: 36px;
    color: #F5F5F7;
}

#expertise .expertise-card {
    background-color: #F5F5F7;
    /* color: #F5F5F7; */
    border-radius: 12px;
    box-shadow: 0 0 15px #adadad;
    /*   margin-left: -50px; */
    border: 1px solid#adadad;
    margin-bottom: 20px;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
}

#expertise .expertise-card .body {
    padding: 25px;
}

#expertise .expertise-card img {
    border-radius: 12px 12px 0 0;
    width: 100%;
}

@media (min-width: 992px) {

    #expertise .expertise-card {
        width: 500px;
    }

    #expertise .expertise-card-container {
        display: flex;
    }

    #expertise .expertise-card:not(:first-child) {
        margin-left: -50px;
    }

    #expertise .expertise-card:hover {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
    }

    #expertise .expertise-card:hover~.expertise-card {
        position: relative;
        left: 50px;
        transition: 0.4s ease-out;
    }
}

/* Track Records */
/*==================================
    Track Records
==================================*/
/* .carousel {
    position: relative;
    background-color: red;
    display: block;
    width: 100%;
    box-sizing: border-box;
} */
#track-records {
    background-color: #F5F5F7;
}

.carousel_container {
    width: 100%;
    padding: 50px 0;
    overflow: hidden;
}

.carousel_container .carousel_slider {
    position: relative;
    transition: transform 1s ease-in-out;
}

.carousel_container .carousel_slider_item {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    margin: 0 20px;
}

.carousel_container .carousel_slider_item .carousel_card {
    position: relative;
    width: 100%;
    /* height: 100%; */
    transition: transform 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel_container .carousel_slider_item .carousel_card_container img {
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 200px;
}

.carousel_container .carousel_slider_item .carousel_card_container {
    width: 100%;
    /* height: 100%;     */
    box-sizing: border-box;
    border-width: 0;
    border-radius: 12px;
    border-style: solid;
    background-color: #F5F5F7;
    box-shadow: 0 0 5px #adadad;
}

.carousel_card_body {
    padding: 20px;
}

.carousel_prev h5,
.carousel_next h5 {
    margin-bottom: 0;
}

.carousel_prev,
.carousel_next {
    z-index: 99;
    position: absolute;
    bottom: 40%;
    transition: transform 0.25s ease;
    font-size: 60px;
    background-color: #F5F5F7;
    color: #2e2e2e;
    border-radius: 50%;
    padding: 10px 13px;
    cursor: pointer;
    box-shadow: 0 0 5px #adadad;
}

.carousel_prev:hover,
.carousel_next:hover {
    transform: scale(1.25);
}

.carousel_prev {
    left: 35%;
}

.carousel_next {
    right: 34.5%;
}

@media (max-width: 992px) {
    .carousel_prev {
        left: 5%;
    }

    .carousel_next {
        right: 5%;
    }
}


/* Partners */
/*==================================
    Partners
==================================*/
#partners-benefit {
    /* background-color: rgba(0, 0, 0, 0.85); */
    /* height: calc(100vh - 70px); */
    /* display: flex; */
    align-items: center;
    /* justify-content: center; */
    /* margin-top: -70px; */
}

/* #partners {
    display: flex;
    align-items: center;
    justify-content: center;
} */

#partners-benefit h1 {
    color: #F5F5F7;
}

#partners h1 {
    color: #F5F5F7;
}

span {
    color: red;
}

/* Footer */
/*==================================
    Footer
==================================*/
.footer {
    padding: 20px;
}

.footer p {
    margin: 0;
    color: #F5F5F7;
}