/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  background-color: #1367A6;
  background: url("../img/bg/bokeh.png"), rgba(19, 102, 166, 0.8)repeat;
  background-position: center;
  background-size: 100vw auto;
  color: #000000;
}

a {
  color: #51d9ff;
  text-decoration: none;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Exo", sans-serif;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: rgba(0, 200, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #151515;
  line-height: 0;
}

.back-to-top:hover {
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.back-to-top:hover i {
  color: #51d9ff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  /* background: #151515; */
  background: #000000;
}

/* #preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 5px solid #0091ff;
  border-top-color: #151515;
  border-bottom-color: #151515;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: animate-preloader .5s linear infinite;
} */

#preloader h5 {
  position: fixed;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #38c0ff;
}

#preloader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  /* animation: animate-preloader 15s linear infinite; */
}

#preloader svg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  fill: #0091ff;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  /* background: rgba(0, 0, 0, 0.8); */
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo a span {
  color: #51d9ff;
}

#header .logo img {
  max-height: 40px;
}

/*--------------------------------------------------------------
#  Get Started Button
--------------------------------------------------------------*/
.get-started-btn {
  color: #fff;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  border: 2px solid #51d9ff;
}

.get-started-btn:hover {
  background: #38c0ff;
  color: #343a40;
}

@media (max-width: 992px) {
  .get-started-btn {
    padding: 7px 20px 8px 20px;
    margin-right: 15px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #51d9ff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #151515;
  font-weight: 400;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  background-color: #51d9ff;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s;
  z-index: 999;
  height: 100vh;
  width: 100vw;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #151515;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #151515;
  background-color: #51d9ff;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  color: #151515;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  background-color: #51d9ff;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* #particles-js {
  background-image: url("../img/1about.png");
  background-repeat: no-repeat;
  background-position: left bottom;
} */

#hero {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-image: url("../img/bg/line-wave.png");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

#hero .container {
  position: relative;
  padding-top: 74px;
  text-align: center;
}

#hero h5{
  color: #FFFFFF;
}

#hero .hero-vr{
  position: relative;
  max-width: 90vw;
  margin-top: 40px;
}

#hero .hero-vr-bg{
  position: absolute;
  top: 50%;
  left: 50%;
  animation: animate-circle 60s linear infinite;
}

#hero .hero-component{
  position: absolute;
  top: 140px;
  left: 140px;
  animation: animate-topdown 5s alternate linear infinite;
}
#hero .hero-component2{
  position: absolute;
  top: 40px;
  left: 100px;
  animation: animate-topdown 2s alternate linear infinite;
}
#hero .hero-component3{
  position: absolute;
  top: 10px;
  left: 50%;
  animation: animate-topdown 3s alternate linear infinite;
}
#hero .hero-component4{
  position: absolute;
  top: 70px;
  right: 70px;
  animation: animate-topdown 7s alternate linear infinite;
}

#hero h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: "Exo", sans-serif;
}

#hero h1 span {
  color: #51d9ff;
}

#hero h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 24px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 20px;
    line-height: 24px;
  }

  #hero .hero-component{
    position: absolute;
    bottom: 114px;
    left: 14px;
    animation: animate-topdown 7s alternate linear infinite;
  }
  #hero .hero-component2{
    position: absolute;
    top: 4px;
    left: 10px;
    animation: animate-topdown 4s alternate linear infinite;
  }
  #hero .hero-component3{
    position: absolute;
    top: 30px;
    left: 50%;
    animation: animate-topdown 5s alternate linear infinite;
  }
  #hero .hero-component4{
    position: absolute;
    top: 47px;
    right: 7px;
    animation: animate-topdown 9s alternate linear infinite;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: "Exo", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #FFFFFF;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  color: #FFFFFF;
  background: linear-gradient(0deg, #ff00e6, #0044ff, #ff00e6);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.section-content {
  padding: 40px 30px;
  margin-bottom: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background-color: #000609;
  background-image: url("../img/bg/earthing.jpg");
  background-position: center left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #FFFFFF;
}

.about .content h3 {
  font-weight: 700;
  font-size: 28px;
  font-family: "Exo", sans-serif;
}

.about .content p {
  text-align: justify;
}

/*--------------------------------------------------------------
# Timeline
--------------------------------------------------------------*/
.timeline {
  background-color: #1367A6;
  background: url("../img/bg/line-wave.png"), #1367A6;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-position: bottom;
  /* background-image: url("../img/faq-bg.png"); */
}

.timeline-events {
  margin: 0 300px;
}

@media (max-width: 1366px) {
  .timeline-events {
    margin: 0;
  }
}

.timeline-item-active {
  padding: 3em 2em 2em;
  position: relative;
  color: #000000;
  border-left: 4px solid #000000;
}

.timeline-item-active::before {
  content: attr(date);
  position: absolute;
  left: 2em;
  font-weight: 700;
  top: .8em;
  display: block;
  color: red;
}

.timeline-item-active::after {
  width: 15px;
  height: 15px;
  display: block;
  top: 1em;
  position: absolute;
  left: -9px;
  border-radius: 10px;
  content: '';
  border: 4px solid #ff0000;
  background: #ff0000;
}

.timeline-item {
  padding: 3em 2em 2em;
  position: relative;
  color: #000000;
  border-left: 4px solid #000000;
}

.timeline-item::before {
  content: attr(date);
  position: absolute;
  left: 2em;
  font-weight: 600;
  top: .8em;
  display: block;
}

.timeline-item::after {
  width: 15px;
  height: 15px;
  display: block;
  top: 1em;
  position: absolute;
  left: -9px;
  border-radius: 10px;
  content: '';
  border: 4px solid #000000;
  background: #1367A6;
}

.timeline-item:last-child {
  border-image: linear-gradient(to bottom, rgb(0, 0, 0) 40%, rgba(0, 0, 0, 0)) 1 100%;
}

/*--------------------------------------------------------------
# Prizes
--------------------------------------------------------------*/
#prizes{
  color: #FFFFFF;
}
.prizes .content {
  padding: 30px 0;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.prizes h3 {
  margin-top: -35px;
  font-weight: 800;
  color: #FFFFFF;
}

#prizes .img-prize {
  width: 300px;
  /* opacity: 0.5; */
}

#prizes .prize {
  text-align: center;
}

/*--------------------------------------------------------------
# problem-statements
--------------------------------------------------------------*/
.problem-statements {
  padding: 80px 0;
}

.problem-statements .section-header {
  margin-bottom: 40px;
}

.problem-statements h3 {
  font-weight: 700;
}

.problem-statements h5:hover {
  cursor: pointer;
  text-decoration: underline;
}

.problem-statements .paragraph {
  /* width: 100%; */
  text-align: justify;
}

.problem-statements .scope-of-work {
  overflow-x: scroll;
}

.problem-statements .icon-show {
  display: none;
}

.problem-statements .collapsed {
  display: block;
}

.problem-statements .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.problem-statements .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

.problem-statements .badge-light {
  color: #000;
  background-color: rgba(255, 255, 255, 0.3);
}

/*--------------------------------------------------------------
# Register
--------------------------------------------------------------*/
.register .php-email-form {
  width: 100%;
  background: #fff;
}

.register .php-email-form .form-group {
  padding-bottom: 8px;
}

.register .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.register .php-email-form .error-message br+br {
  margin-top: 25px;
}

.register .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.register .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.register .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-circle 1s linear infinite;
}

.register .php-email-form input,
.register .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.register .php-email-form input:focus,
.register .php-email-form textarea:focus {
  border-color: #51d9ff;
}

.register .php-email-form input {
  height: 44px;
}

.register .php-email-form textarea {
  padding: 10px 12px;
}

.register .php-email-form button[type=submit] {
  background: #51d9ff;
  border: 0;
  padding: 10px 24px;
  color: #151515;
  transition: 0.4s;
  border-radius: 4px;
}

.register .php-email-form button[type=submit]:hover {
  background: #ffcd6b;
}

@keyframes animate-topdown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes animate-circle {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #d4e5fc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list .question {
  display: block;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  padding-left: 25px;
  cursor: pointer;
  color: #000000;
  transition: 0.3s;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list .collapsed {
  color: #FFFFFF;
}

.faq .faq-list .collapsed:hover {
  color: #000000;
}

.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: whitesmoke;
  min-height: 40px;
  margin-top: 74px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #2f2f2f;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #001234;
  background-image: url("../img/bg/footer.png");
  background-position: top;
  color: #fff;
  font-size: 14px;
  padding-top: 30px;
}

#footer .footer-bottom {
  margin-top: 30px;
  border-top: #012345 1px solid;
  background: #001234;
  border-bottom: 1px solid #222222;
  padding: 10px;
}

#footer h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

#footer h3 span {
  color: #51d9ff;
}

#footer h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  margin: 20px 0 10px 0;
}

#footer p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #51d9ff;
  color: #151515;
  text-decoration: none;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer ul i {
  padding-right: 2px;
  color: #51d9ff;
  font-size: 18px;
  line-height: 1;
}

#footer ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer ul li:first-child {
  padding-top: 0;
}

#footer ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer ul a:hover {
  color: #51d9ff;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #51d9ff;
  color: #151515;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #ffcd6b;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #fff;
}